


    <%-include("partials/header")%>
    <div class="title">
        <ul class="habits">
            <li class="items">Habit</li>
            <li class="items">Count</li>
            <li class="items">Category</li>
        </ul>
    </div>
    <% for(let habit of habits){ %>
        <div class="card">
            <ul class="habits">
                <li class="items"><a href="/habit/<%=habit._id%>"><%= habit.habit%></a></li>
                <li class="items"><%= habit.duration%></li>
                <li class="items"><%= habit.category%></li>

            </ul>
        </div>
    <%}%>

<%-include("partials/footer")%>
